@model WebProductionAccounting.Domain.ViewModels.Work.WorkViewModel
@using WebProductionAccounting.Domain.Enum
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    string title = "Удаление";
}
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
<style>
.field-validation-error {
    color: #b94a48;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}
input.valid {
    border: 1px solid #16a085;
}

.validation-summary-errors {
    color: #b94a48;
}
</style>

<form method="post">
     <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h3 class="text-white">@title</h3>
            <hr />
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="Name" class="text-white"></label>
            <input asp-for="Name" disabled class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="Scope" class="text-white"></label>
            <input asp-for="Scope" type="number" size="4" step ="0.01" disabled class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="DateTimeImplementation" class="text-white"></label>
            <input asp-for="DateTimeImplementation" disabled class="form-control"/>
        </div>
        <button type="submit" class="button_hola btn-red" style="width:150px">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-slash" viewBox="0 0 16 16">
            <path d="M13.879 10.414a2.501 2.501 0 0 0-3.465 3.465l3.465-3.465Zm.707.707-3.465 3.465a2.501 2.501 0 0 0 3.465-3.465Zm-4.56-1.096a3.5 3.5 0 1 1 4.949 4.95 3.5 3.5 0 0 1-4.95-4.95ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm.256 7a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"></path>
            </svg> Удалить  
        </button >
         <a asp-controller="Work" asp-action="GetWorks" class="button_hola btn-orange" style="width:150px">
           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
             <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8Zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5Z"/>
           </svg>Назад к списку
        </a>
    </div>

</form>

